Repository act3-ace/CoRL: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, pretty-format-json, check-yaml, debug-statements, blacken-docs, isort, yapf, mypy, flake8, pylint, velin

check-json:
  name: Check JSON
  description: This hook checks json files for parseable syntax.
  entry: check-json
  language: python

pretty-format-json:
  name: Pretty format JSON
  description: This hook sets a standard for formatting JSON files.
  entry: pretty-format-json
  language: python
  args:
  - --no-sort-keys
  - --indent
  - '2'

check-yaml:
  name: Check Yaml
  description: This hook checks yaml files for parseable syntax.
  entry: check-yaml
  language: python
  args:
  - --allow-multiple-documents

debug-statements:
  name: Debug Statements (Python)
  description: Check for debugger imports and py37+ `breakpoint()` calls in python source.
  entry: debug-statement-hook
  language: python

blacken-docs:
  name: blacken-docs
  description: Run `black` on python code blocks in documentation files
  entry: blacken-docs
  language: python
  language_version: python3

isort:
  name: isort
  description: 'isort: import sorter'
  entry: python -m isort
  language: system

yapf:
  name: yapf
  description: 'YAPF: Yet Another Python Formatter'
  entry: python -m yapf
  language: system
  args:
  - --recursive
  - --parallel
  - --in-place

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: python -m mypy

flake8:
  description: 'Flake8: Your Tool For Style Guide Enforcement'
  name: flake8
  stages:
  - commit
  language: system
  entry: python -m flake8
  verbose: false

pylint:
  name: pylint
  stages:
  - commit
  language: system
  entry: python -m pylint

velin:
  name: Velin
  description: This hook attempt to reformat docstrings using numpydoc format.
  entry: velin
  language: python
  language_version: python3
  args:
  - --write
  - --no-fixers
  stages:
  - commit

Update README.md
  README.md
Due: blacken-docs

fix: updates for code
  Dockerfile
  README.md
  docker-compose.yml
Due: check-yaml, blacken-docs

fix: updates for code
  docker-compose-github.yml
Due: check-yaml

fix: updates for simulator and reference to the white paper
  CHANGELOG.md
  README.md
  corl/environment/multi_agent_env.py
  corl/evaluation/loader/policy_checkpoint.py
  corl/experiments/base_experiment.py
  corl/simulators/base_simulator.py
  corl/simulators/docking_1d/simulator.py
  corl/simulators/openai_gym/gym_simulator.py
  corl/simulators/pong/simulator.py
  pyproject.toml
Due: debug-statements, blacken-docs, isort, yapf, mypy, flake8, pylint, velin

fix: updates for simulator and reference to the white paper
  README.md
Due: blacken-docs

fix: updates for 2.8.0
  CHANGELOG.md
  corl/environment/multi_agent_env.py
  corl/evaluation/loader/policy_checkpoint.py
  pyproject.toml
Due: debug-statements, blacken-docs, isort, yapf, mypy, flake8, pylint, velin

fix: updates
  README.md
Due: blacken-docs

fix: updates for the github workflows
  .devcontainer/10_nvidia.json
  .devcontainer/bash_update.sh
  .devcontainer/devcontainer.json
  .devcontainer/startup.sh
  .github/workflows/build_workflow.yml
  .github/workflows/docker-image-code-server.yml
  .github/workflows/mkdocs.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  copy-for-aprs.sh
  corl/parts/__init__.py
  corl/parts/comms.py
  corl/parts/memory_store.py
  docker/dle.crt
  docker/setup_env_docker.sh
Due: check-json, pretty-format-json, check-yaml, debug-statements, blacken-docs, isort, yapf, mypy, flake8, pylint, velin

fix: update for consistant lock file in poetry
  poetry.lock
Due: none

fix: updates to the latest corl 3.14.12
  .github/workflows/build_workflow.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  config/streamlit_app/docking1d_streamlit_config.yml
  config/streamlit_app/pong_streamlit_config.yml
  config/tasks/pong/tasks/pong_task_sac.yml
  copy-for-aprs.sh
  corl/config/streamlit_app/docking1d_streamlit_config.yml
  corl/config/streamlit_app/pong_streamlit_config.yml
  corl/config/tasks/pong/tasks/pong_task_sac.yml
  corl/evaluation/recording/folder.py
  corl/evaluation/runners/inference/algorithm_runner.py
  corl/evaluation/runners/section_factories/task.py
  corl/evaluation/serialize_platforms.py
  corl/experiments/rllib_experiment.py
  corl/simulators/gymnasium/gymnasium_sensors.py
  corl/visualization/base_animator.py
  corl/visualization/docking_animator.py
  corl/visualization/episode_artifact_to_tables.py
  corl/visualization/network_explainability/env_policy_transforms.py
  corl/visualization/network_explainability/network_explainability.py
  corl/visualization/plotly_animator.py
  corl/visualization/pong_animator.py
  corl/visualization/streamlit_app/default_layout.py
  corl/visualization/streamlit_app/eval_while_train_layout.py
  corl/visualization/streamlit_app/pages/02_evaluation_from_training.py
  corl/visualization/streamlit_app/pages/03_corl_evaluation.py
  corl/visualization/streamlit_app/sections/units_conversion.py
  docker/Dockerfile
  docker/docker-compose.yml
  poetry.lock
  pyproject.toml
  scripts/codeserver/default_code_server_plugins.txt
Due: check-yaml, debug-statements, blacken-docs, isort, yapf, mypy, flake8, pylint, velin

fix: updates to the latest corl 3.14.12
  .github/workflows/build_workflow.yml
Due: check-yaml

fix: updates to the latest corl 3.14.12
  .github/workflows/build_workflow.yml
  .github/workflows/make_poetry_badges.yml
  .gitignore
  CHANGELOG.md
  copy-for-aprs.sh
  docker/docker-compose.yml
Due: check-yaml, blacken-docs

fix: updates to the latest corl 3.14.12
  copy-for-aprs.sh
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: check-yaml

fix: updates for the version needed for github depend bot
  poetry.lock
Due: none

fix: updates for the pulling of latest corl to github
  .github/workflows/build_workflow.yml
  copy-for-aprs.sh
  poetry.lock
Due: check-yaml

fix: updates to pull in the minor updates for latest release
  CHANGELOG.md
  LICENSE.md
  corl/evaluation/recording/folder.py
  corl/visualization/episode_artifact_to_tables.py
  corl/visualization/streamlit_app/sections/agent_steps.py
  poetry.lock
  pyproject.toml
Due: debug-statements, blacken-docs, isort, yapf, mypy, flake8, pylint, velin

fix: updates to pull in the minor updates for latest release
  corl/environment/custom_env_metrics.py
  corl/environment/default_env_rllib_callbacks.py
  corl/environment/episode_artifact_callbacks.py
  corl/environment/pickle_env_state.py
  corl/simulators/pong/play_pickled_episode.py
  test/benchmark_experiment/test_benchmark_experiment.py
Due: debug-statements, blacken-docs, isort, yapf, mypy, flake8, pylint, velin

Path conditions:
  check-json: any of: \.json$, but not: .devcontainer/devcontainer.json
  pretty-format-json: any of: \.json$, but not: .devcontainer/devcontainer.json
  check-yaml: any of: \.(yaml|yml)$, but not: (^config.*|^test.*|^docs.*|mkdocs.yml$)
  debug-statements: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  isort: any of: corl and \.py$
  yapf: any of: corl/ and \.py$
  mypy: any of: corl and \.py$
  flake8: any of: corl and \.py$
  pylint: any of: corl and \.py$
  velin: any of: \.py$
